.Menu{
    list-style: none;
    display: flex;
    align-items: center;
    
}
.Menu li{
    padding-left: 1rem;
}
.Navlogo{
    display: flex;
    height: 2rem;
    justify-content: space-between;
    align-items: center;
}
.back{
    background-image: url(../Navbar/Rectangle\ 114.png);
    background-position: center;
    height: 1.5rem;
    width: 5.5rem;

}
.logo{
    display: flex;
    align-items: center;
}

.back img {
    padding-left: 0.5rem;
    padding-right: 0.2rem;
}
.Logo2{
    width: 10rem;
}